---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

<!--
{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
-->

<h2>Past Teaching Experience</h2>
<ul>
  <li> Graduate Teaching Assistant </li>
    <ul>
      <li>Linear Algebra - Columbia University, Fall 2024</li>
      <li>Linear Algebra / Algebraic Number Theory (Graduate course) - Columbia University, Spring 2024</li>
      <li>Complex Variable  - Columbia University, 2023 Fall</li>
    </ul>
  <li>  Undergrduate Teaching Assistant  (POSTECH) </li>
    <ul>
      <li>Differential Equations - POSTECH, Fall 2018</li>
      <li>Probability and Statistics - POSTECH, Spring 2018</li>
    </ul>
</ul>
